label {
    display: block;
    margin-top: 20px;
    font-size: x-large;
    font-family: "arial";
}

textarea {
    height: 200px;
    resize: none;
}

button {
    margin-top: 10px;
    font-family: "arial";
}

.textinput {
    margin-top: 5px;
    width: 450px;
}

.error {
    color: red;
    font-family: "arial"
}
